{% extends 'layout/base.html' %}

{% block content %}
<style>
    .scroll {
        overflow-y: auto;
        max-height: 500px;
    }

    body{
        background-color: black;
    }

    *{
    padding: 0px;
    margin:0px;
}
.main-container{
    margin:0px;
    padding: 0px;
    background-color: black;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}
.blur-circle1{
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom,white,pink);
    border-radius: 50%;
    filter:blur(120px);
    position: absolute;
    left: 10%;
    top:20%;
    /* transform: translate(50%); */
}
.blur-circle2{
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom,white,pink);
    border-radius: 50%;
    filter:blur(100px);
    position: absolute;
    right: 10%;
    top:20%;
    /* transform: translate(50%); */
}
</style>
<div class="main-container">
    <div class="blur-circle1">
  
    </div>
    <div class="blur-circle2">
  
    </div>


<div class="scroll">
    <div class="container" style="margin-top: 70px;">
        <div class="row">
            <!-- Upload Image Container -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1>Upload Image</h1>
                        <form method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="file" class="form-label">Choose Your Image</label>
                                <input type="file" class="form-control" name="file" id="file" placeholder=""
                                    aria-describedby="fileHelpId" accept="image/*" required />
                                <div id="fileHelpId" class="form-text">Upload your image to see the magic of BlurBuster</div>
                            </div>
                            <button class="btn btn-success">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Upload Video Container -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1>Upload Video</h1>
                        <form method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="file" class="form-label">Choose Your Video</label>
                                <input type="file" class="form-control" name="file" id="file" placeholder=""
                                    aria-describedby="fileHelpId" accept="video/*" required/>
                                <div id="fileHelpId" class="form-text">Upload your video to see the magic of BlurBuster</div>
                            </div>
                            <button class="btn btn-success">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- View Your Uploads Container (Centered) -->

    <div class="col-md-12 text-center mt-4"> <!-- Change col-md-12 to adjust the width -->
        <div class="card" style="max-width: 900px; margin: 0 auto;">
                <div class="card-body">
                    <h1>View Your Uploads</h1>
                    <a href="/file/list" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center mt-4"> <!-- Change col-md-12 to adjust the width -->
            <div class="card" style="max-width: 900px; margin: 0 auto;">
                    <div class="card-body">
                        <h1>View fixed videos</h1>
                        <a href="/file/fixed" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>

<style>

</style>
{% endblock %}
